
*{
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  color: white;
 
}

p{
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #A89EB7;
}
.green{
    color: #00FF88;
}
.max-width{
    max-width: 1200px;
    margin:0 auto;
}
.linear-text{
    background: linear-gradient(33deg, #F7E93F 0%,#FB09B4 51%, #9100F8 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.linear-bg{
     background: linear-gradient(45deg, #F7E93F 0%, #FB09B4 51%, #9100F8 100%);
}
.button-gradient{
    background: linear-gradient(45deg, #F7E93F 0%, #FB09B4 51%, #9100F8 100%);
    padding:12px 16px;
    border:none;
    border-radius: 45px;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 8px;
}
.button-green{
    background:none;
    border: 2px solid #00FF88;
    padding:12px 20px;
    border-radius: 45px;
    font-weight: 600;
    color:#00FF88;
    display: flex;
    align-items: center;
    gap: 8px;
}

/* hero section  */
  
.hero-img-container {
    background-image: url('./assets/hero-circle.png');
    height: 350px;
    width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    /* top: -15%; */
}
.hero-img-container img{
    height: 175px;
    width: 120px;
}
.NEW{
    position: absolute;
    top: 9%;
    right: 5%;
    background: #00FF88;
    border-radius: 8px;
    padding: 14px 16px;
    font-size: 12px;
    font-weight: 700;
    color: #18072D;
    
}

/* podcast section  */
.podcast .about{
    max-width: 1200px;
}

/* Choose section  */
.choose-container{
    margin-top: 40px;
}

/* feature section  */
.featured-footer p{
    color: #91FF90;
    font-weight: 600;
    
}
.featured-card{
    max-width: 380px;
}

/* Meet the hosts section  */
.social-media a{
    border: 1px solid #4F3770;
    padding: 10px;
    border-radius: 50%;
    margin-right: 8px;
}
.social-media img{
    width: 16px;
    height: 16px;
}

/* Footer section  */
.footer-social a{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

/* for desktop  */
@media screen and (min-width:993px) {
    .hamburger-button,.mobile-p, hr{
    display: none;
    }

}

/* Responsive Design  for mobile  */
@media (max-width: 576px) {
    .desktop-p{
        display: none;
    }
    h1{
        font-size: 40px;
        font-weight: 800;
    }
    h2{
        font-size: 32px;
        font-weight: 700;
    }
    nav ul, .nav-button{
        display: none;
    }
    nav button{
        background: none;
    }

        .hero {
        background-image: url('./assets/hero-bg.png') !important;
        background-size: cover !important;
        background-position: center !important;
        min-height: 100vh;
    }
    .hero-img-container {
        height: 250px;
        width: 250px;
    }
    .hero-img-container img{
        height: 125px;
        width: 85px;
    }
    .rank{
        display: grid;
        padding:0 20px;
        grid-template-columns: repeat(2,2fr);
        justify-content: space-between;
        gap: 30px 100px; 
        max-width: 450px;
        margin: 0 auto;
    }
    .why-choose{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .choose-container{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 30px 0px;
        padding-bottom: 50px;
        padding-top: 50px;
        
    }
    .choose-card{
        max-width: 350px;
       
        
    }
    .featured-episodes-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .kumar{
        margin:0px 25px;
        text-align: center;
    }
    .kumar, .alex-kumar{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
        footer {
        background-image: url('./assets/footer-bg.png') !important;
        background-size: cover !important;
        background-position: center !important;
        padding: 60px 20px !important;
    }
    footer > div{
       padding: 40px 10px !important;
        padding: 10px;
        text-align: center;
    }

    .footer-social{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 20px 0px;
    }
}

